
@{
    ViewData["Title"] = "Contact";
}


	<main>
 <div class="container-fluid pt-5">

<div class="row">




 <div class=" col-lg-3">
 <ul class=" list-group  ">

 <li class="list-group-item">
    <a class="nav-link" href="#">Do a feasibility study</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link active"  href="#">Submit a development proposal</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link active" href="#">Follow up the quality of my work</a>
  </li>
 
  
 
  <li class="list-group-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Quality and Development Award</a>
  <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">
   <li class="list-group-item">
    <a class="nav-link active" href="#" >Best Product Quality Award</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Biggest Product Award </a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Best Directing Award </a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  Best Quality Management Award</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Best Project Award </a>
  </li>
  
  </ul> 
   </li>
   <li class="list-group-item">
    <a class="nav-link" href="#">product promotion</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link" href="#">Project promotion</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="#">financing policy</a>
  </li>
 
 <li class="list-group-item">
    <a class="nav-link" href="#">Media Center</a>
  </li>
  
   <li class="list-group-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 Important Maps and Locations </a>
 
  <ul class="dropdown-menu" aria-labelledby="navbarNavDropdown">
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> Warehouses</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> refrigerators</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">departments and associations </a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">assembly halls </a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">lab </a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> central market</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> popular market</a>
  </li>
 <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> POS </a>
  </li>
  <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> crops </a>
  </li>
   <li class="list-group-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> projects </a>
  </li>
   </ul>
   </li>

 
   <li class="list-group-item">
    <a class="nav-link" href="#">the public</a>
  </li>
   <li class="list-group-item">
    <a class="nav-link" href="#">forms</a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="#">digital systems</a>
  </li>
</ul> 
</div>
 
 
 <div class=" col-lg-8 ">
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" class="bg-success">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
	  
 
</div>


 <div class="btnfecher  col-lg-1 ">

<button type="button" class="btn btn-danger btn-circle btn-xl">antismuggling</button>
<button type="button" class="btn btn-primary btn-circle btn-xl">anti-Corruption</button>
<button type="button" class="btn btn-success btn-circle btn-xl">complaint</button>
<button type="button" class="btn btn-info btn-circle btn-xl">volunteering</button>
<button type="button" class="btn btn-warning btn-circle btn-xl">development proposal</button>


 </div>
 
  </div>

      </div>
 
 

 
	  </main>
	  